html{
    font-size: 62.5%;
}
*{
  box-sizing: border-box; 
  
}
/* Sign in page start*/
#sign-in{
  text-align: center;
  margin-left: 26rem;
  margin-top:10rem;
  border:0.1rem #fff solid ;
  
  height:60rem;
  width:72rem;
  background-color: #ffffff ;
}
#sign-in table{
  box-shadow: .2rem .3rem #701422;
}
#sign-in td{
  height:60rem;
  width:36rem;
  font-family: 'Roboto Slab', serif;
}

#carouselExampleControls .sign-in-carousel{
  margin-top: -4.3rem;
  margin-right:-1rem;
  height:64.04rem;
   width:36.61rem;
 z-index:-3;
}
.sign-in-form h3{
  margin-top: 0rem;
  font-size:2rem;
}
.sign-in-form h1{
 margin-top:3rem;
  font-family: 'Roboto Slab', serif;
  border-radius:.5rem;
  box-shadow: .1rem .2rem black;
  margin-left: 3rem;
  margin-right:3rem;
  background-image:linear-gradient(66deg,pink,aquamarine);
}
#sign-in input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 1.5rem.3rem;
  border-bottom-left-radius: .3rem 1.5rem;
  border: solid .3rem transparent;
  border-bottom: dashed .3rem #ff4c68;
  font-size: 1.7rem;
  color:black;
  width: 70%;
  margin-bottom: 2rem;
}
#sign-in .input-div{
  border:.3rem #ff4c68 solid;
  padding:.6rem;
   margin-top:3rem;
  margin-left: 3rem;
  margin-right:3rem;
  border-radius:.5rem;
}
#sign-in button{
  margin:1rem 0 3rem 0;
  font-size:2rem;
  padding:.5rem 2rem .5rem 2rem;
  background-image:linear-gradient(66deg,pink,aquamarine);
  border-radius:.5rem;
  box-shadow: .1rem .2rem black;
}

.sign-in-form .sign-up-button{
  margin-top:4rem;
    font-size:2rem;
  text-decoration: none;
  text-shadow: .2rem .2rem .4rem blue;
  border-right:1px solid;
  border-left:1px solid;
}
.sign-in-form .sign-up-button:hover{
  color:red;
  font-size:2.4rem;
}
.btn-social{
  font-size:2rem;
  
}
.btn-facebook{
  margin-bottom:1.5rem;
}
.skip-now{
  margin-top:2rem;
  margin-left:114rem;
  font-size:2.5rem;
  position:absolute;
  padding:.5rem 2rem .5rem 2rem;
  background-image:linear-gradient(66deg,pink,aquamarine);
  border-radius:.5rem;
  box-shadow: .1rem .2rem black;
  text-decoration: none;
}

/* sign in page end */
 /* home-page-start */
body{
    font-family: 'Mate SC', serif;
    
}
p{
    font-size: 1.2rem;
}
.shopon{
    margin-left: 1.5rem;
    margin-top:1rem;
    position: fixed;
    background:transparent;
    border-radius: 50%;
    box-shadow: .1rem .1rem #000000 ;
    z-index: 200;
    filter:contrast(110%) saturate(109%);
}
.homepage-pic1{
    height:52rem;
    width:66rem;
    margin-top:12rem;
    margin-left: -3rem;
    position: absolute;
    border-radius: 1rem;
    box-shadow: .15rem .2rem rgb(48, 45, 45);
    z-index:-2;
    filter: brightness(90%) contrast(140%);
}
.homepage-pic2{
    height:52rem;
    width:66rem;
    margin-top:12rem;
    margin-left:68rem;
    border-radius: 1rem;
    box-shadow: .15rem .2rem rgb(48, 45, 45);
    filter: brightness(100%) contrast(140%);
}
.homepage-caption{
  color:rgb(0, 0, 0);
  opacity: 80%;
    font-family: 'Martel', serif;
    font-size:4rem;
    position:absolute;
    text-shadow: 0 1.5px black;
    margin-top:59rem;
    margin-left: 3rem;
}
.caption1{
    
    margin-left: 3rem;
    z-index:2;
}
.caption2{
    
    margin-left:75rem;
    z-index:2;
   
}


.header-buttons{
    margin-top: 1.6rem;
    margin-left:95rem;
position: fixed;
}
.navbar-nav a{
    
    text-decoration: none;
}
.nav-button{
    font-size: 1.6rem;
  
   background-color: #ff4c68;
    border: 0.1rem #ff94a4 solid;
    border-radius: 5%;
    box-shadow: .1rem .1rem #7a1221;
    color:#fff;
}

.nav-button:hover{
    color:black;
}

.bg-img{
    background-size:cover;
}
 /* home-page-end */

 /* features  start*/
#features{
    padding:7% 15%;
    margin-top:15rem;
    width:171.2rem;
    margin-left:-30rem;
    text-align:center;
    font-size: 1.3rem;
    background-color: white;
    position:relative;
    z-index: -1;
  }
  .check-circle{
      margin-left:20rem;
  }
  .bullseye{
      margin-left:-10rem;
  }
  .heart {
      margin-left:-10rem;
  }
  .features-text{
    color: #8f8f8f;
  }
  h2{
    font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
  }
  .h3{
    color:black;
    font-weight: bold;
  }
  .icon{
    color:#ef8172;
  }
  .icon:hover{
    color: #ff4c68;
  }

  /* feature  end */

  /* product section start */
#product{
    margin-top: 15rem;
    margin-left: 11rem;
}
#product .product-pic{
    height:35rem;
    width:35rem;
    margin-left: 4rem;
    border-radius: 1rem;
    box-shadow: .2rem .3rem #7a1524 ;
}
 .shop-now{
    height:5.5rem;
    width:16rem;
    margin:5rem 0 0 48rem;
    text-align:center;
    background-color:#ff0026;
    opacity:60%;
    border: .1rem #fff solid;
    border-radius: 1rem;
    box-shadow:.2rem .3rem #6b1a26;
    font-size: 2.2rem;
    color:black;
}
#product .shop-now:hover{
    height:5.8rem;
    width:17rem;
    margin:4.8rem 0 0 47.5rem;
    font-size: 2.4rem;
    color:#ffffff;
}


/* product section end */

/* review */
#review{
    margin-top:10rem;
    margin-left:8rem;
    
}
.review{
  background-image:linear-gradient(60deg,#CDF0EA,#CDF0EA,#CDF0EA);
  border:2px solid  white;
  padding:2rem ;
  border-radius: 1rem;
}
/* rgb(184, 133, 39),#f72343,rgb(184, 133, 39) */
.cards {
    box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: .5rem;
    height:30rem;
    width:25rem;
    display: inline-block;
    margin: 0 1rem 0 1rem;
    background-image:linear-gradient(20deg,rgb(8, 33, 255),rgb(12, 19, 87),rgb(8, 15, 78),rgb(8, 33, 255));
    color:white;
    margin-left:2.8rem;
    padding:1rem;
  }
  
  .cards:hover {
    box-shadow: 0 .8rem 1.6rem 0 rgba(0,0,0,0.4);
  }
 
/* About start */
#testimonials{
    margin-top: 10rem;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
  }
  #testimonials h2{
    padding-top:2rem;
  }
  #testimonials  a{
    text-decoration: none;
}
 .home-carousel-item{
      padding:4% 15%;
  }
  .testimonials-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
    height:25rem;
    width:25rem;
    filter:brightness(105%) contrast(115%) saturate(95%) ;
  }
  #press{
   
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
  }
  .press-icon{
    
    margin:20px 30px 50px;
  }
  #press a{
      text-decoration: none;
  }
  
/* About end */

input {
  border: .1rem solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 25rem;
  border-radius: .3rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem 1.5rem;
  margin: 0 auto 1rem auto;
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: white;
  font-weight: 300;
}

/* product page start*/
.product-container{
  margin-left: 16%;
  margin-top:14rem;
  background-color: #FF193D;
  width:92.1%;
  border-top-left-radius: 1rem;
  
}
.product-navbar{
  display:none;
  position:absolute;
}
/* .product-navbar1{
  display:flex;
  position:fixed;
  z-index:299;
  background-color:antiquewhite;
  
} */
.product-welcome{

  padding-top:2rem;
  color:#ffffff;
 position:fixed;
  text-shadow: 1px 2px #0f0406;
  margin-left:50rem;
  z-index:3;
}
.product-volume{
  margin-bottom:4rem;
}
.product-option{
  margin-top:14rem;
  border-right: 5px grey solid;
  position: fixed;
  padding-right:6rem;
  margin-left:-4rem;
}
.product-option h2{
  margin-left:-6rem;
}

.product-option h3{
  margin-top:2rem;
  margin-left:-6rem;
}
.product-option h3 a{
  text-decoration:none;
  color:black;
  padding:5px 10px;
  text-shadow: 0 1px #0f0104;
}

.column {
  height:53.2rem;
float: left;
width: 25.7%;
padding-bottom:5px;
margin-left:5%;
margin-top:30px;
border:1px #e9dcde solid;
border-radius: 1rem;
}
.shopping-cart-img{
  height:10rem;
  width:10rem;
  position:fixed;
  margin-left:127rem;
  filter:brightness(100%) contrast(5000%);
  padding:0;
  border:#ff4c68;
  background:transparent;
  z-index:300;
}
.shopping-cart-img:hover{
  border:0.1rem dashed #fff;
}

.add-to-cart-button{
  padding:0;
height:3.8rem;
width:14.5rem;
filter:brightness(107%) contrast(160%);

z-index:-300;
margin-left:15.6rem;


}
.buynow-button{
  color:white;
  padding:0;
  height:3.7rem;
  width:14.5rem;
  filter:brightness(107%) contrast(160%) ;
  margin-top: -.5rem;
  font-size:1.8rem;
  font-family:sans-serif;
  margin-left:-.2rem;
  z-index:-300;
}
.column h2{
color:rgb(236, 226, 226);
margin-left: 5%;
}
.column h3{
  margin-top:-1.3rem;
  color:rgb(236, 226, 226);
  margin-left: 5%;
  }
.buy-now-table{
  font-size:1.3rem;
}
.quantity{
  font-size:1.5rem;
 padding-left:2.5rem;
 color:#ffffff;
}
.product3-img{
  height:30rem;
  width:30.75rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.column3-button{
  background-image:linear-gradient(90deg,pink,aquamarine);
  box-shadow: 0.1rem 0.2rem #a84d5b;
  }
  .column3-h5{
  color:rgb(236, 226, 226);
  margin-left: 5%;
  font-size: 2.7rem;
  }
  .column3-p{
  color:rgb(236, 226, 226); 
  margin-left: 5%;
  
  }
  .column3-h2{
    color:rgb(236, 226, 226);
    margin-left: 5%;
    }
    .column3-h3{
      margin-top:-1.3rem;
      color:rgb(236, 226, 226);
      margin-left: 5%;
      }
  

.column .product-img{
  height:30rem;
  width:30.75rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
margin-right: 0;
}
.column button{
background-image:linear-gradient(90deg,pink,aquamarine);
box-shadow: 0.1rem 0.2rem #a84d5b;
}
.column h5{
color:rgb(236, 226, 226);
margin-left: 5%;
font-size: 2.7rem;
}
.column p{
color:rgb(236, 226, 226); 
margin-left: 5%;

}

/* Razorpay page */
.razorpay-conitnue{
  margin:30rem 0 0 47%;
  font-size: 3rem;
  background-color: #ff4c68;
   border: 0.1rem #ff94a4 solid;
   border-radius: 5%;
   box-shadow: .1rem .2rem #7a1221;
   color:#fff;
   padding:.5rem 1rem;
}
.razorpay-continue:hover{
  font-size:3.3rem;
  margin:29.5rem 0 0 46.5%;
  box-shadow: .2rem .2rem .2rem .2rem #7a1221;
  color:black;
  background-color: #ff062b;
}

/* buyerdetail-page */
.shipping-address{
  margin-top:12rem;
  font-size:3.2rem;
  color:#ffffff;
  text-shadow:1px 2px  black;
  margin-left:40%;
}
.buyerdetails-form{
  margin-top:1rem;
  border:.2rem grey solid;
  box-shadow: 1px 2px black;
  width:30%;
  padding: 2rem 1rem 2rem 1rem;
  margin-left:35%;
  background-color: #FF193D;
}
.checkoutthrough{
  text-align: center;
  font-size:2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  margin-top:5rem;
}
.razorpay-button{
  height:4.2rem;
  width:15.5rem;
  filter:brightness(107%) contrast(160%) ;
  margin-left:1rem;
}
.paypal-button{
  height:4.2rem;
  width:15.5rem;
  filter:brightness(107%) contrast(160%) ;
  margin-bottom:-5rem;
  margin-left:1rem;
}
.buyerphone{
  margin-top:-14rem;
  margin-left:5.6rem;
  position:absolute;
}


/* success page*/
.success-productbutton{
  position:absolute;
  margin-left:110rem;
  margin-top:3rem;
  background:transparent;
  height:3.4rem;
  width:10rem;
  border-radius:1rem;
  box-shadow: 1px 2px rgb(61, 37, 8);
  color:#ffffff;
  font-size: 1.6rem;
}
.success-box{
  margin-left:20%;
  margin-top:2%;
}



.borderdesign {
  border: 1px solid black;
  border-collapse: collapse;
}
.borderdesign-td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;    
  background-color: #ff0026;
}
.shipping{
  width:33%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* product page end */

@media(max-width:998px){
    html{
        font-size:55%;
    }
    .navbar-nav{
        margin-top: 1.6rem;
        margin-left:87rem;
    }
    #features{
        margin-top:0;
      }
      .rowm{
        width:50%;
        margin-left: 27%;
      }
      .rown{
        margin: 20px 20px;
      }
    
}

@media(max-width:768px){
    html{
        font-size:45%;
    }
    
}